@keyframes tz-pulse {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  15% {
    opacity: 0.025;
    transform: scale(1);
  }
  75% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
