.vc-colorpicker {
  background: none !important;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--transparent-background-darker);
    backdrop-filter: var(--backdrop-blur);
  }
}
