@import url("./base.css");

*:not([data-tz-anchor] *):not(button *):not(a):not(button):not(input):not(textarea):not(select):not(option):not(code) {
  color: var(--color-text);
}

code {
  background-color: var(--transparent-background);

  &[data-tz-has-background] {
    background-color: var(--transparent-background) !important;
  }
}

[data-tz-processed] {
  border: 0 !important;
  box-shadow: none !important;

  &[data-tz-depth] {
    background-color: var(--transparent-background) !important;
    color: var(--color-text);

    &::before,
    &::after {
      background-color: transparent !important;
    }

    &[data-tz-inside-overlay] {
      background-color: var(--transparent-background-darker) !important;
    }
  }

  &[data-tz-depth="0"]:not([data-tz-inside-overlay]) {
    background-color: transparent !important;

    &:is(pre):has(code) {
      background-color: var(--transparent-background) !important;
    }
  }

  &[data-tz-gradient] {
    background: none !important;
  }

  &[data-tz-anchor] {
    color: var(--color-primary);

    > * {
      color: var(--color-primary);
    }
  }

  &[data-tz-low-lumen],
  &[data-tz-low-contrast] {
    &:not(a):not(button) {
      color: var(--color-text) !important;
    }

    a,
    button {
      &:not(:hover) {
        color: var(--color-text) !important;
      }
    }
  }

  &[data-tz-low-contrast]:not([data-tz-inside-overlay]) {
    background-color: var(--transparent-background) !important;
  }

  &[data-tz-overlay] {
    &[data-tz-depth] {
      background: var(--transparent-background-darker) !important;
    }
  }
}
