:root {
  --bg-primary: transparent;
  --sidebar-bg: transparent;
  --sidebar-mask-bg: transparent;
  --sidebar-login-pane-bg: transparent;
  --sidebar-surface-primary: transparent;
}

#stage-slideover-sidebar {
  border: 0;

  [data-scrolled-from-top] {
    background-color: rgba(0, 0, 0, 0.2);

    > .sticky:first-of-type {
      background-color: rgba(0, 0, 0, 0.75);
      backdrop-filter: blur(4px);
    }
  }
}

.popover {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.bg-token-message-surface {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
