@import url("../shared/base.css");

:root,
:where(.theme-host):where(.dark-theme) {
  --bard-color-synthetic--chat-window-surface: var(--transparent-background-dark);
  --gem-sys-color--on-surface: var(--color-text);
  --gem-sys-color--surface: var(--transparent-background);
  --gem-sys-color--surface-bright: var(--transparent-background);
  --gem-sys-color--surface-container: var(--transparent-background-dark);
  --gem-sys-color--surface-container-high: var(--transparent-background-darker);
  color: var(--color-text);
}

input-container::before {
  background: (180deg, var(--transparent-background-dark), var(--transparent-background)) !important;

}

code {
  background: var(--transparent-background-dark);
}

.immersives-mode {
  background-color: #00000000 !important;
}