@import url("../shared/base.css");

#wa_web_initial_startup {
  --splashscreen-primary-title: var(--color-text);

  background: none !important;

  ._apdm {
    &::after {
      content: none;
    }
  }
}

#whatsapp-web {
  --splashscreen-startup-background: transparent !important;
  --splashscreen-startup-background-rgb: transparent !important;

  .dark {
    --WDS-background-wash-inset: transparent;
    --WDS-surface-emphasized: transparent;
    --WDS-surface-default: transparent;
    --chatlist-panel-background: transparent;

    @media (prefers-color-scheme: dark) {
      * {
        --WDS-systems-chat-background-wallpaper: transparent;
        --WDS-background-elevated-wash-inset: transparent;
        --WDS-surface-emphasized: transparent;
        --WDS-surface-default: transparent;
      }
    }
  }

  #app {
    --background-default: var(--transparent-background);
    --background-default-active: var(--transparent-background-dark);
    --background-default-hover: var(--transparent-background-dark);
    --navbar-background: var(--transparent-background);
    --navbar-border: transparent;
    --panel-background-lighter: transparent;
    --panel-header-background: transparent;
    --search-container-background: transparent;
    --search-input-container-background: transparent;
    --filters-container-background: var(--transparent-background);
    --butterbar-default-background: var(--transparent-background);
    --intro-background: var(--transparent-background);
    --drawer-section-background: transparent;

    --conversation-panel-background: var(--transparent-background);
    --rich-text-panel-background: var(--transparent-background);
    --compose-input-background: var(--transparent-background);

    .html-div[role="menu"] {
      > * {
        --WDS-surface-default: var(--transparent-background-darker);
      }
    }

    .app-wrapper-web {
      --WDS-background-wash-inset: transparent !important;

      [data-testid="wa-web-loading-screen"] {
        div:has(> span > svg) {
          &::after {
            content: none;
          }
        }
      }
    }

    [data-testid="drawer-left"],
    [data-testid="drawer-right"] {
      > div > span:not(:empty),
      > span:not(:empty) {
        background-color: var(--transparent-background-darker) !important;
        backdrop-filter: var(--backdrop-blur);
      }
    }

    .two {
      /* Toolbar / Navigation pane */
      > header {
        /* Settings Panel */
        /* For the record.. yes, this is the only way to select it */
        + div > div > span > div > div > span > div.copyable-area {
          background-color: var(--transparent-background-darker) !important;
          backdrop-filter: var(--backdrop-blur);
        }

        /* Channels Panel */
        + div > div > span > div > span > div > div.copyable-area {
          background-color: var(--transparent-background-darker) !important;
          backdrop-filter: var(--backdrop-blur);
        }
      }
    }

    #pane-side {
      background: none !important;

      /* "Get Windows App" button */
      + [role="button"] > div > div > div {
        background-color: var(--transparent-background-darker) !important;
        backdrop-filter: var(--backdrop-blur);
      }
    }
  }
}
