@media screen {
  html.skin-theme-clientpref-night {
    --background-color-base: none;
    --background-color-neutral: none;
    --background-color-neutral-subtle: none;
    --background-color-interactive-subtle: rgba(0, 0, 0, 0.2);
  }
}

table {
  border-radius: 16px;
}

td {
  background: rgba(0, 0, 0, 0.1) !important;
}

body,
html {
  background: none !important;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
}

.mw-page-container {
  background: none;
}

.infobox,
.hatnote {
  border-radius: 12px;
}

.vector-dropdown-content {
  background-color: var(--transparent-background-darker) !important;
  backdrop-filter: var(--backdrop-blur);
  color: var(--color-text) !important;
  text-decoration: none !important;
  border-radius: var(--border-radius);
}

.vector-pinned-container {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.cdx-button:enabled.cdx-button--weight-quiet.cdx-button--action-progressive,
.cdx-button.cdx-button--fake-button--enabled.cdx-button--weight-quiet.cdx-button--action-progressive {
  color: var(--color-text);
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.vector-icon[class*="-progressive"] {
  background-color: var(--color-text);
}

.vector-menu-tabs .mw-list-item.selected a,
a:where(:not([role="button"])) {
  color: var(--color-primary) !important;
}

.vector-pinnable-header-toggle-button {
  border-radius: 16px;
  color: var(--color-text);
  background: none;
}

.mwe-popups-containers::after {
  background: rgba(0, 0, 0, 1) !important;
  backdrop-filter: var(--backdrop-blur);
}

.infobox-subbox {
  font-family: consolas monospace;
}

/* Search Bar */
#searchform {
  .cdx-menu__listbox {
    background-color: var(--transparent-background-darker);
    backdrop-filter: var(--backdrop-blur);
  }
}

/* Sidebar Navigation */
#mw-panel-toc-list {
  a:where(:not([role="button"])) {
    color: var(--color-text) !important;
    text-align: left;
  }
}

/* Infoboxes */
.mwe-popups {
  background-color: var(--transparent-background-darker) !important;
  backdrop-filter: var(--backdrop-blur);
  border-radius: var(--border-radius);
}

/* Tooltip */
.rt-overlay {
  .rt-tooltip {
    background-color: var(--transparent-background-darker) !important;
    backdrop-filter: var(--backdrop-blur);
  }
}

/* Popup */
.vector-popup-notification {
  background-color: var(--transparent-background-darker) !important;
  backdrop-filter: var(--backdrop-blur);
}

/* Modal */
.oo-ui-windowManager-modal {
  .oo-ui-window-frame {
    background-color: var(--transparent-background-darker) !important;
    backdrop-filter: var(--backdrop-blur);
  }
}
