@import url("../global/base.css");

/* Background-color using variable */
.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-2yi16.r-1qi8awa.r-3pj75a[style].r-o7ynqc.r-6416eg.r-1ny4l3l.r-1loqt21,
.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-15ysp7h.r-4wgw6l.r-3pj75a[style].r-o7ynqc.r-6416eg.r-1ny4l3l.r-1loqt21,
.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-19yznuf.r-64el8z.r-1fkl15p[style].r-o7ynqc.r-6416eg.r-1ny4l3l.r-1loqt21 {
  background-color: var(--transparent-background)!important;
}

/* White text color using variable */
.css-1jxf684.r-bcqeeo.r-1ttztb7.r-qvutc0.r-poiln3,
.css-146c3p1,
.draftjs-styles_0.public-DraftEditorPlaceholder-root,
.r-1bwzh9t,
.draftjs-styles_0 .public-DraftEditorPlaceholder-root {
  color: var(--color-white)!important;
}

.r-1bnu78o {
  background-color: var(--transparent-background)!important;
}

/* Background-color using transparent-background */
body[style],
.r-kemksi,
.r-gu4em3,
.r-5zmot {
  background-color: var(--transparent-background)!important;
}

/* Border-color using transparent-primary */
.r-1kqtdi0 {
  border-color: var(--transparent-primary)!important;
}
