:root {
  --darkreader-background-ffffff: transparent;
}

body,
html,
main {
  background: none !important;
}

body::before,
body::after,
html::before,
html::after,
main::before,
main::after {
  background: none !important;
}
