@import url("./base.css");
@import url("./bootstrap.css");
@import url("./buttons.css");

*:not(button):not(input):not(textarea) {
  color: var(--color-text);
}

a {
  color: var(--color-primary);
}

[data-tz-processed] {
  border: 0 !important;
  box-shadow: none !important;

  &[data-tz-depth] {
    background-color: var(--transparent-background) !important;
    color: var(--color-text);

    &::before,
    &::after {
      background-color: transparent !important;
    }

    &[data-tz-inside-overlay] {
      background-color: var(--transparent-background-darker) !important;
    }
  }

  &[data-tz-depth="0"]:not([data-tz-inside-overlay]) {
    background-color: transparent !important;
  }

  &[data-tz-gradient] {
    background: none !important;
  }

  &[data-tz-low-lumen] {
    color: var(--color-text) !important;
  }

  &[data-tz-low-contrast] {
    background-color: var(--transparent-background) !important;
    color: var(--color-text) !important;
  }

  &[data-tz-overlay] {
    &[data-tz-depth] {
      background: none !important;

      &::before {
        content: "";
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
        width: 100% !important;
        height: 100% !important;
        background-color: var(--transparent-background-darker) !important;
        backdrop-filter: var(--backdrop-blur) !important;
        transform: none !important;
        box-shadow: none !important;
        border: 0 !important;
        z-index: -1;
      }
    }

    [data-tz-depth="-1"] {
      background: var(--transparent-background-darker) !important;
      backdrop-filter: var(--backdrop-blur);
    }
  }
}
