@import url("./base.css");
@import url("./animations.css");

:root {
  body {
    transition: visibility 250ms, opacity 250ms;
    visibility: visible;
    opacity: 1;
  }

  &.tz-hidden {
    body {
      transition: none;
      visibility: hidden;
      opacity: 0;
    }

    &::before,
    &::after {
      content: "";
      position: fixed;
      background-image: var(--zen-logo-path) !important;
      background-size: cover !important;
      filter: invert(1);
      display: block;
      width: 200px;
      height: 200px;
      left: calc(50% - 100px);
      top: calc(50% - 100px);
    }

    &::before {
      animation-name: tz-pulse;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }

    &::after {
      opacity: 0.05;
    }

    &.tz-small-loading-icon {
      &::before,
      &::after {
        width: 100px;
        height: 100px;
        left: auto;
        top: auto;
        bottom: 50px;
        right: 50px;
      }
    }
  }
}

*:not(button):not(input):not(textarea) {
  color: var(--color-text);
}

a {
  color: var(--color-primary);
}

[data-tz-processed] {
  border: 0 !important;
  box-shadow: none !important;

  &[data-tz-depth] {
    background-color: var(--transparent-background) !important;
    color: var(--color-text);

    &[data-tz-inside-overlay] {
      background-color: var(--transparent-background-darker) !important;
    }
  }

  &[data-tz-depth="0"]:not([data-tz-inside-overlay]) {
    background-color: transparent !important;
  }

  &[data-tz-gradient] {
    background: none !important;
  }

  &[data-tz-low-lumen] {
    color: var(--color-text) !important;
  }

  &[data-tz-low-contrast] {
    background-color: var(--transparent-background) !important;
    color: var(--color-text) !important;
  }

  &[data-tz-overlay] {
    &[data-tz-depth] {
      background: none !important;

      &::before {
        content: "";
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
        width: 100% !important;
        height: 100% !important;
        background-color: var(--transparent-background-darker) !important;
        backdrop-filter: var(--backdrop-blur) !important;
        transform: none !important;
        box-shadow: none !important;
        border: 0 !important;
        z-index: -1;
      }
    }

    [data-tz-depth="-1"] {
      background: var(--transparent-background-darker) !important;
      backdrop-filter: var(--backdrop-blur);
    }
  }
}
