input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea,
select {
  color: var(--color-text);
  border-radius: var(--border-radius);
}

input[type="file"] {
  background: transparent;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--transparent-text);
}
